/*General*/
body {
  padding-top: 135px;
}
.light-grey {
  background-color: #e6e9ed!important
}
img {
  max-width: 100%;
}
.img-responsive {
  margin: 0 auto;
}
p,li {
  font-size: 18px;
}
/*************Header**************/
.navbar-trans {
  background-color: #2d3438;
  border: none;
  transition: top 1s ease;
}
.navbar-doublerow > .navbar{
	display: block;
	padding: 0px auto;
	margin: 0px auto;
	min-height: 25px;
}
.navbar-doublerow .nav{
	padding: 0px auto;
}
.navbar-doublerow .dividline{
  margin: 5px 100px;
  padding-top: 1px;
  background-color: inherit;
}
.navbar-doublerow .navbar-top ul>li>a {
	padding: 10px auto;
	font-size: 12px;
}

.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #333;
}
.navbar-nav {
  margin-top: 0;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ddd;
}

/*************Our experience**************/
.our-experience {
  text-align: center;
}
.our-experience h2 {
  text-align: center;
  margin: 50px 0;
}
.our-experience p {
  margin: 20px 0;
}
.our-experience img:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/*************Footer**************/
footer {
  background: #2d3438;
}

/*************Responsive**************/
@media screen and (max-width: 767px) {
  body {
    padding-top: 45px;
  }
}
@media screen and (min-width: 768px) {
  .slider-section  {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auto-clear .col-md-4:nth-child(5) {
    clear: left;
  }
}
