/*General*/
body {
  padding-top: 135px;
}
.light-grey {
  background-color: #e6e9ed!important
}
/*************Header**************/
.navbar-trans {
  background-color: #2d3438;
  border: none;
  transition: top 1s ease;
}
.navbar-doublerow > .navbar{
	display: block;
	padding: 0px auto;
	margin: 0px auto;
	min-height: 25px;
}
.navbar-doublerow .nav{
	padding: 0px auto;
}
.navbar-doublerow .dividline{
  margin: 5px 100px;
  padding-top: 1px;
  background-color: inherit;
}
.navbar-doublerow .navbar-top ul>li>a {
	padding: 10px auto;
	font-size: 12px;
}
/*************Header**************/
footer {
  background: #2d3438;
}
