/*General*/
body {
  padding-top: 135px;
  font-family: 'Montserrat', sans-serif;
}
.light-grey {
  background-color: #e6e9ed!important
}
img {
  max-width: 100%;
}
.img-responsive {
  margin: 0 auto;
}
p,li {
  font-size: 18px;
}
/*************Header**************/
#myNavbar {
  margin-bottom: 5px;
}
.navbar-brand img {
  max-width: 320px;
}
.navbar-trans {
  background-color: #2d3438;
  border: none;
  transition: top 1s ease;
}
.navbar-doublerow > .navbar{
	display: block;
	padding: 0px auto;
	margin: 0px auto;
	min-height: 25px;
}
.navbar-doublerow .nav{
	padding: 0px auto;
}
.navbar-doublerow .dividline{
  margin: 5px 100px;
  padding-top: 1px;
  background-color: inherit;
}
.navbar-doublerow .navbar-top ul>li>a {
	padding: 10px auto;
	font-size: 12px;
}
.navbar-default .navbar-toggle {
  border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #333;
}
.navbar-nav {
  margin-top: 0;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
  color: #ddd;
}
.dropdown-menu>li>a {
  padding: 10px 19px;
}

/*************SLider**************/
.slider-section h1 {
  font-size: 26px;
}
.slider-section ul {
  color: rgb(137, 3, 3);
  font-weight: 600;
  font-size: 20px;
}

/*************Our experience**************/
.our-experience {
  text-align: center;
  margin: 50px 0;
}
.our-experience h2 {
  text-align: center;
  margin: 50px 0;
}
.our-experience p {
  margin: 20px 0;
}
.our-experience img:hover {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/*************Internal pages**************/
.applications main h1,
.breakout-unit main h1,
.topopen-torque main h1,
.contact-us main h1,
.Hydraulic-power-pack h1,
.Jar-tester h1,
.pipe-cleaning h1,
.water-blasting h1,
.torque h1 {
  font-weight: bold;
}
.applications main li,
.breakout-unit main li,
.topopen-torque main li,
.Hydraulic-power-pack main li,
.Jar-tester main li,
.pipe-cleaning main li,
.water-blasting main li,
.torque main li {
    line-height: 2;
}
.applications main li a {
    color: #333;
}
.topopen-torque main img,
.contact-us form,
.water-blasting main img,
.torque main img {
  margin-top: 20px;
}
.applications main,
.breakout-unit main,
.topopen-torque main,
.contact-us main,
.Hydraulic-power-pack main,
.Jar-tester main,
.pipe-cleaning main,
.water-blasting main,
.torque main {
  margin-bottom: 50px;
}
.Hydraulic-power-pack .row .row,
.Hydraulic-power-pack .row .row p {
  margin: 25px 0;
}

/*************Footer**************/
footer {
  background: #2d3438;
  padding: 50px 0;
}
footer .main-footer a {
  color: #fff;
  cursor: pointer;
  padding: 10px 0;
  display: inline-block;
}
footer p {
  color: #fff;
}
footer .main-footer a:hover {
  color: #ddd;
}
/*************Responsive**************/
@media screen and (max-width: 480px) {
  .navbar-brand img {
    max-width: 230px;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding-top: 45px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #fff;
    padding: 20px 15px 5px 25px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #ddd;
  }
}
@media screen and (min-width: 768px) {
  .slider-section  {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .auto-clear .col-md-4:nth-child(5) {
    clear: left;
  }
}
@media screen and (min-width: 1001px) {
  .image-wrap {
    height: 300px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .image-wrap img {
    max-height: 300px;
  }
  .Hydraulic-power-pack .row .row {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
   -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
